* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

.card {
  background-color: #6c6b6a;
}

a {
  text-decoration: none;
  color: tomato;
  padding: 0 6px;
}

a:hover {
  color: white;
}

.main-nav {
  width: 100%;
  background-color: #043f61;
}

.main-nav .nav {
  list-style-type: none;
  font-size: .8rem;
  font-weight: bold;
  margin: 0;
  padding: 10px 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav .nav .name {
  display: block;
  margin-right: auto;
  color: white;
  font-size: 1.24rem;
}

header {
  text-align: center;
  background: url("/Users/yalut.cm/Desktop/FWD/Projects/TechDegree-Project1/using-scss/images/bg.jpg") no-repeat top center;
  background-size: 80% auto;
  overflow: hidden;
  padding-top: 60px;
}
